nav {
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 1;
  text-align: center;
}

.logo h2 {
  padding-left: 50px;
  color: gray;
  font-size: 35px
}

.logo span {
  color: red;
}

.container {
  margin-right: 50px;
  margin-left: 50px
}

.navigation-container {
  flex: 2;
}

.main-nav {
  flex-direction: row;
  display: flex;
  flex: 2;
  list-style-type: none;
  justify-content: space-around;
}

.main-nav li {
  /*justify-content: space-between;*/
}

.main-nav li a {
  text-decoration: none;
  color: darkgrey;
}

.last-nav-element {
  justify-content: flex-end;
  align-self: center;
  flex: 1;
}

.second-nav {
  justify-content: center;
  flex: 1;
  flex-direction: row;
  display: flex;
  list-style-type: none;
}

.second-nav li {
  padding-right: 20px
}

.second-nav li a {
  text-decoration: none;
  color: darkgrey;
}

.second-nav li button {
  border: 2px solid black;
  background-color: white;
  width: 100px;
  height: 30px
}

header {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid darkgrey;
  margin-bottom: 30px
}

.header-form {
  padding: 15px;
  width: 100%;
  background-color: white;
}

.header-form input[type=text] {
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  margin-right: 0px
}

.header-form button {
  border-radius: 4px;
  text-align: center;
  border: none;
  color: white;
  margin-left: 0px;
  width: 18%;
  background-color: #00BC98;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-nav {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}

.header-nav ul {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 0px;
  height: 50px;
}

.header-nav ul li {
  text-align: center;
  color: darkgray;
  font-size: 25px;
  margin-right: 50px

}
.active{
  width: 80%;
  border-bottom: 5px solid #00BB98;
}
.hr {
  width: 100% background-color: 1px;
}

article {
  display: flex;
  flex-direction: row;
  width: 80vw;
  flex-wrap: wrap;
}
.sidebar {
  flex: 1;
  padding: 15px;
  background-color: white;
  margin-right: 10px;
}
.sidebar form {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar form input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 8px 0px 8px 10px;
  margin-right: 0px;
  font-size: 14px
}
.sidebar form select {
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 8px 0px 8px 10px;
  margin-right: 0px;
  font-size: 14px
}
.content {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px
}
.sidebar-buttom {
  height: 40px;
  width: 40%;
  align-self: flex-end;
  border-radius: 5px;
}

.column {
  flex-grow: 1;
  background-color: white;
  margin: 5px;
  flex: 1 210px
}
.column h4{
  padding-left: 8px;
}
.column p{
  padding-left: 8px;
  color: #6CB891;
}
.column ul{
  list-style-type: none;
  padding-left: 8px;

}
.column ul li {
  padding-top: 3px;
}
.column ul li .fa{
  padding-right: 10px;
  color: #3E8ADF;
  width: 12px;
}
.content-image{
  width: 100%;
  position: relative;
}
.content-image img{
  width: 100%;
}
.content-image span{
  color: white;
  font-size: 16px;
  text-align: center;
  background-color: #F8A500;
  position: absolute;
   top: 9px;
   left: 19px;
   width: 40%;
   height: 20px;
   border-radius: 30px
}
